<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wqferheng"
    android:installLocation="auto"
    android:versionCode="28"
    android:versionName="4.6" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:icon="@drawable/wqferheng"
        android:label="@string/app_name"
        android:largeHeap="true" >

        <!-- The default activity of the app; displays search results. -->
        <activity
            android:name=".WQFerhengActivity"

            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:theme="@style/MyCustomTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- No category needed, because the Intent will specify this class component -->
            </intent-filter>

            <!-- Points to searchable meta data. -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ZimanListActivity"
            android:configChanges="orientation|screenSize"
            android:label="Ziman"
            android:theme="@style/MyCustomTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WordTypeListActivity"
            android:configChanges="orientation|screenSize"
            android:label="Cûreyên Peyvan"
            android:theme="@style/MyCustomTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WordTypeListActivity2"
            android:configChanges="orientation|screenSize"
            android:label="Cûreyên Peyvan"
            android:theme="@style/MyCustomTheme"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity,Instantiatable">
        </activity>
        <activity
            android:name=".ListViewCursorLoaderActivity"
            android:configChanges="orientation|screenSize"
            android:label="Peyv"
            android:theme="@style/MyCustomTheme"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".DefinitionActivity"
            android:configChanges="orientation|screenSize"
            android:label="Wate"
            android:theme="@style/MyCustomTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="Wate"
            android:theme="@style/MyCustomTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WQFerhengWidgetConfig"
            android:theme="@style/MyCustomTheme"
            android:configChanges="orientation|screenSize"
            android:label="Eyarên Widgetê"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WQFerhengConfig"
            android:configChanges="orientation|screenSize"
            android:label="Eyarên WQFerhengê"
            android:theme="@style/MyCustomTheme"
            android:exported="true">
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"
            android:value="ca-app-pub-4819188859318435~9436329520"/>

<!--         <meta-data -->
<!--             android:name="com.google.android.gms.version" -->
<!--             android:value="@integer/google_play_services_version"  -->
<!--             /> -->

        <receiver
            android:name=".WQFerhengWidget"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.wqferheng.ACTION_WIDGET_RECEIVER" />
                <action android:name="com.wqferheng.Refresh" />
                <action android:name="com.wqferheng.OPEN_URL_ACTION" />
                <action android:name="com.wqferheng.LAUNCH_WQFERHENG" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget"
                />

        </receiver>



        <!-- Displays the definition of a word. -->
        <!-- <activity android:name=".WordActivity" /> -->


        <!-- Provides search suggestions for words and their definitions. -->
        <provider
            android:name=".WQFerhengDBProvider"
            android:authorities="com.wqferheng.WQFerhengDBProvider" />

        <!-- Points to searchable activity so the whole app can invoke search. -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".WQFerhengActivity" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4819188859318435~9436329520"/>
    </application>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

</manifest>